<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    <link rel="stylesheet" th:href="@{/default.css}">
</head>
<body>
<nav>
    <ul class="index">
        <li><a href="http://localhost:8081/candy/index">Main page</a></li>
        <li><a href="http://localhost:8081/candy/searchEntry">Search Entry</a></li>
        <li><a href="http://localhost:8081/candy/all">List All Entries</a></li>
        <li><a href="http://localhost:8081/candy/create">Create an Entry</a></li>
        <li><a href="http://localhost:8081/candy/edit">Update/Delete an Entry</a></li>
    </ul>
</nav>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> ManufacturingCompany </th>
        <th> Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${candy.id}"> ID </span></td>
        <td><span th:text="${candy.name}"> Name </span></td>
        <td><span th:text="${candy.manufacturingCompany}"> ManufacturingCompany </span></td>
        <td><span th:text="${candy.price}"> Price </span></td>
    </tr>
    </tbody>
</table>
<div id="center">
    <a th:href="@{/candy/all}" role="button"><button type="button" class="btn btn-search">Go back to List</button></a>
</div>
</body>
</html>
