<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
<nav>
    <ul class="index">
        <li><a href="http://localhost:8081/candy/index">Main page</a></li>
        <li><a href="http://localhost:8081/candy/searchEntry">Search data</a></li>
        <li><a href="http://localhost:8081/candy/all">List All data</a></li>
        <li><a href="http://localhost:8081/candy/add">Create an Entry</a></li>
        <li><a href="http://localhost:8081/candy/edit">Update/Delete an Entry</a></li>
    </ul>
</nav>
</body>
</html>