<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>

    <link rel="stylesheet" th:href="@{/default.css}" >
</head>

 <body>
        <div>
            <nav>
                 <ul class="index">
                     <li><a href="http://localhost:8081/candy/index">Main page</a></li>

                     <li><a href="http://localhost:8081/candy/all">List All Entries</a></li>
                     <li><a href="http://localhost:8081/candy/create">Create an Entry</a></li>
                     <li><a href="http://localhost:8081/candy/edit">Update/Delete an Entry</a></li>
                 </ul>
            </nav>
        </div>
<div>
    <div th:if="${validationError}" th:each="error : ${validationError}">
        <label class="text-danger" th:text="${error}"></label>
    </div>

        <form th:action="@{data/{id}}" th:object="${candy}" th:method="post">
            <input type="hidden" th:field="*{id}" />

            <table>
                <tr>
                    <td>Name<span class="text-danger">※</span></td>
                    <td><input type="text" required th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td>Manufacturing Company</td>
                    <td><input type="text" required th:field="*{manufacturingCompany}" /></td>
                </tr>
                <tr>
                    <td>Price<span class="text-danger">※</span></td>
                    <td><input type="number" required min="0" th:field="*{price}" /></td>
                </tr>
            </table>

            <br/>
            <div>
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>

</body>
</html>