<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" th:href="@{/default.css}" >
</head>
<body>

<nav>
<ul class="index">


    <li><a href="http://localhost:8081/candy/index">Main page</a></li>

    <li><a href="http://localhost:8081/candy/all">List All Entries</a></li>
    <li><a href="http://localhost:8081/candy/create">Create an Entry</a></li>
    <li><a href="http://localhost:8081/candy/edit">Update/Delete an Entry</a></li>
</ul>
</nav>
<div style="text-align: center; margin: auto;">
    <img src="Cake.jpg" th:src="@{/Cake.jpg}" alt="background">
</div>

</body>
</html>