<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>

    <link rel="stylesheet" th:href="@{/default.css}" >
</head>
<body>

<nav>
<ul class="menu">

    <li><a href="#">Search data</a></li>
    <li><a href="#">List All data</a></li>
    <li><a href="#">Create an Entry</a></li>
    <li><a href="#">Update an Entry</a></li>
    <li><a href="#">Delete an Entry</a></li>

</ul>
</nav>
<div style="text-align: center">
    <img src="画像のパス">
</div>

</body>
</html>