<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>menu</title>

    <link rel="stylesheet" th:href="@{/default.css}" >
</head>
<body>

<nav>
<ul class="menu">

    <li><a href="search.html">Search data</a></li>
    <li><a href="http://localhost:8081/candy/all">List All data</a></li>
    <li><a href="create.html">Create an Entry</a></li>
    <li><a href="update.delete.html">Update/Delete an Entry</a></li>


</ul>
</nav>
<div style="text-align: center; margin: auto;">
    <img src="Cake.jpg">
</div>

</body>
</html>