<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <link rel="stylesheet" th:href="@{/default.css}" >
</head>

<body>
<div>
    <nav>
        <ul class="index">
            <li><a href="http://localhost:8081/candy/index">Main page</a></li>
            <li><a href="http://localhost:8081/candy/all">List All Entries</a></li>
            <li><a href="http://localhost:8081/candy/create">Create an Entry</a></li>
            <li><a href="http://localhost:8081/candy/edit">Update/Delete an Entry</a></li>
        </ul>
    </nav>

</div>

    <table>
        <thead>
        <tr>
            <th> id </th>
            <th> Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${candy.empty}">
            <td colspan="2"> Do not find any information </td>
        </tr>
        <tr th:each="candy : ${candy}">
            <form th:action="@{all/{id}(id=${candy.id})}" method="get">
                <td><span th:text="${candy.id}"> id </span></td>
                <td><span th:text="${candy.name}"> Name </span></td>
                <td>
                    <input type="submit" value="Details" class= "btn btn-primary">
                </td>
            </form>
        </tr>
        </tbody>
    </table>

</body>
</html>
