<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candy Inventory All Data</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> ManufacturingCompany </th>
        <th> Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${candy.empty}">
        <td colspan="2"> No Candy Available </td>
    </tr>
    <tr th:each="candy : ${candy}">
        <td><span th:text="${candy.name}"> Name </span></td>
        <td><span th:text="${candy.manufacturingCompany}"> ManufacturingCompany </span></td>
        <td><span th:text="${candy.price}"> Price </span></td>
     <td>
         <a class="btn"
            th:href="@{/edit (id=${candy.id})}">Edit</a>
         <a class="btn"
            th:href="@{/delete (id=${candy.id})}">
             onclick="return confirm('Are you sure?')">
             Delete</a>
     </td>
    </tr>
    </tbody>
</table>
</body>
</html>

